<%- include('./partials/head') %>

<section>
  <div></div>
  <article>
    <div>
      <p><%= data.custom.wave %></p>
    </div>
    <div>
      <p><em><%= data.custom.tagline %></em></p>
      <h1><%= data.name %> <%= data.surname%></h1>
      <p><%- data.bio %></p>
      <div class="linksWrapper">
        <a href="#"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
        <a href="#"><img src="/images/globe-solid.svg" alt="website"></a>
      </div>
    </div>
  </article>
</section>

<%- include('./partials/foot') %>
